<h3>Code de l'erreur :  {{ status_code }} {{ status_text }}</h3>
<h1>Votre Clé API est restreinte à 60 demandes par minutes, veuillez consulter la page de tarification directement sur Openweathermap.org</h1>
