<p>Code de l'erreur :  {{ status_code }} {{ status_text }}</p>
<h1>Page introuvable</h1>
<p>Cette ville n'existe pas dans la base de donnée Openweathermap.org.</p>
<p>Vérifiez que la ville demandée est bien orthographiée. Les majuscules et les accents ne sont pas prises en comptes. (ex: Genève = geneve)</p>
<p>Pas d'abreviations (ex: pour St Étienne il faut écrire saint-etienne)</p>
<p>Pour une ville composée de plusieurs mots, ajoutez un tiret entre chaque mot. (ex: pour Saint Malo il faut écrire Saint-Malo)</p>
<p>Pour les villes hors France, veuillez écrire la ville en anglais et pas de tiret.
(ex: saint petersburg, san diego) </p>
